section.resume-section {
  padding: 5rem 7rem !important;
  margin: auto;

  @media (max-width: 992px) {
    padding: 5rem !important;
  }

  @media (max-width: 768px) {
    padding: 5rem 3rem !important;
  }

  @media(max-width: 351px) {
    padding: 5rem 1rem !important;
  }

  .resume-item {
    .resume-content {}

    .resume-date {
      min-width: none;
    }
  }
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;

    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
